<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-controller="myCtr">

            <form ng-submit="addPlayers()">
                    <input type="text" ng-model="newName"  />
                    <input type="text" ng-model="newId"  />
                    <input type="text" ng-model="newRuns" />
                    <input type="submit" value="addPlayers" >
            </form>

    <table border="1">
        <tr>
            <th>name</th>
            <th>id</th>
            <th>Photo</th>
            <th>runs</th>
            <th>delete</th>
        </tr>
        <tr ng-repeat="player in players">
            <td>{{player.name}}</td>
            <td>{{player.id}}</td>
            <td><img ng-src="{{player.photo}}" height="100" width="100" /></td>
            <td>{{player.runs}}</td>
            <td ng-click="deletePlayer(player)">X</td>
        </tr>
    </table>

  
</div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>